<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Products</title>
    <link rel="icon" href="/assets/images/favicon.png">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
<div class="container">
    {% for product in products %}
        {% if loop.index == 4 %}
            <br />
        {% endif %}
        {{product}}
    {% endfor %}
    <br/>
</div>
    {{dump(products)}}
</body>
</html>